:root {
  --white: #FFFFFF;
  --grey-1: #F7F7F7;
  --grey-2: #E0E0E0;
  --grey-3: #BDBDBD;
  --grey-4: #757575;
  --black: #000;
  --text-light: #BDBDBD;
  --text-dark: #424242;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey-1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 80%;
  max-width: 650px;
  background-color: var(--white);
  padding: 2vmin;
  border-radius: 1vmin;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}


.section-heading {
  background-color: var(--grey-2);
  color: var(--text-dark);
}

.form-container {
  background-color: var(--grey-2);
}

p.error-message {
  color: var(--black);
}

.forms {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--black);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  color: var(--text-dark);
  background-color: var(--white);
  text-align: left;
  padding-left: .5rem;
}

input:focus {
  border-color: var(--black);
}

button, a.button {
  background-color: var(--black);
  color: white;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  background-color: var(--grey-3);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

.NoteCard {
  padding: .5rem;
  border: grey solid 1px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: .5rem;
}

.NotesContainer {
  max-height: 30rem; 
  overflow-y: auto;
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 10px; 
  margin-top: 10px; 
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px; 
}