* {
  text-align: center;
}

form {
  text-align: center;
  width: 100%; 
  margin-bottom: .5rem;
}

.Add {
  width: 100%;
}

textarea {
  width: 100%;
  margin-top: .5rem;
  display: block; 
  padding: 10px; 
  border-radius: 5px; 
  resize: vertical; 
}

.Adding {
  width: 100%;
}
